.card {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    /* padding: 25px; */
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  
  }
  
  .card:hover {
    transform: scale(1.05);
  }

  .img {
    height: 250px;
    width: 100%;
    border-radius: 5px 5px 0px 0px;

  }

 

  .title {
    font-size: 18px;
    font-weight: 700;
    margin: 15px;
  }

  .price {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgb(62, 169, 211);
    margin-bottom: 5px;
  }

  .description {
    padding: 15px;
    font-size: 16px;
  }
  